<!-- head -->
<%- include ('../partials/head', {tituloWeb:'Product List | Suquia Home', css: 'productList.css' });%>

  <body>

    <!-- header -->

    <%- include('../partials/header') %>

      <main>
        <h1>PRODUCTOS</h1>
        <div class="ordenar-por">
          <label for="" name> Ordenar por: </label>
          <select name="" id="">
            <option value="Mas nuevo al más viejo"> Precio: Menor a mayor </option>
            <option value="Mas nuevo al más viejo"> Precio: Menor a mayor </option>
            <option value="Mas nuevo al más viejo"> Más nuevo al más viejo </option>
            <option value="Mas nuevo al mas viejo"> Más viejo al más nuevo</option>
            <option value="Mas nuevo al mas viejo"> Más vendidos </option>
            <option value="Mas nuevo al mas viejo"> A-Z</option>
            <option value="Mas nuevo al mas viejo"> Z-A </option>
          </select>
        </div>
        <div class="main-flex">
          <div class="flex-categorias">
            <h2>CATEGORÍAS</h2>
            <a href="#">Mesas</a>
            <a href="#">Sillas y Sillones</a>
            <a href="#">Home Decor</a>
            <a href="#">Muebles </a>
            <a href="#">Cerámica y Mármol</a>
          </div>

          <div class="flex-articulos" class="padding-articulos">

            <% products.forEach( product=> {
              let precioFinal = (product.precio * ((100 - product.descuento) /100)).toFixed(0)
              %>
              <article>
                <img src="<%= product.imagen  %>" alt="mesa neolith beton">
                <h2>
                  <%= product.nombre%>
                </h2>
                <p>
                  <%= product.descripcion %>
                </p>
                <p>
                  $<%= precioFinal %>
                </p>
                <p>
                  <%= product.descuento %>% off !
                </p>
                <i class="fas fa-eye"></i>
              </article>
              <% }); %>
          </div>
        </div>




        <!-- footer -->

        <%- include('../partials/footer') %>

  </body>