<!-- head -->

<%- include ('../partials/head', {tituloWeb:'Product Detail | Suquia Home', css:'productDetail.css'}); %>



    <body>

        <!-- header -->

        <%- include('../partials/header') %>

            <main>

                <button><a href="/product">Volver</a></button>

                <div class="containerMain800px">
                    <div class="producto800px">
                        <section>

                            <div class="fotoPrincipal">
                                <img src="/img/vajilla/<%= product.imagen %>" alt="product image">
                            </div>

                            <section>
                                <div class="fotoInf">
                                    <img src="/img/vajilla/<%= product.imagen %>" alt="product image">
                                    <img src="/img/vajilla/<%= product.imagen %>" alt="product image">
                                </div>
                            </section>
                    </div>



                    <h1 class="nombre400px">
                        <%= product.nombre %>
                    </h1>


                    <div class="descripcion800px">
                        <h1>
                            <%= product.nombre %>
                        </h1>

                        <h4> Algo de descripcion : </h4>
                        <div class="borde-descripcion">
                            <p>
                                <%= product.nombre %>
                            </p>
                            <p>
                                <%= product.descripcion %>
                            </p>
                            <p>
                                <%= product.colores %>
                            </p>
                        </div>
                        <div class="precio-cantidad-carrito">
                            <h3 class="precio">$<%= product.precio %>
                            </h3>
                                <form action="#">
                                    <select name="cantidad" id="cantidad">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
    
                                    </select>
                                </form>
                                <button> Agregar al carrito<i class="fas fa-shopping-cart"></i></button>
                        </div>   
                        
                        <% if (locals.isLogged && userLogged.categoria_id==1){ %>
                            <div class="editar-eliminar">
                                <a href="/product/productEdition/<%= product.id %>" class="editar-producto">EDITAR
                                    PRODUCTO</a>
                                <form action="/product/delete/<%= product.id %>?_method=DELETE" method="POST"
                                    style="display: inline-flex">
                                    <button type="submit" class="eliminar-producto">ELIMINAR</button>
                                </form>
                            </div>
                         <% } %>

                        
                    </div>

                    </section>

                </div>

                <section class="detalle">
                   
                    <div class="caracteristicas">

                        <h3>Características</h3>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, incidunt magnam
                            molestiae cum
                            perferendis veritatis, aperiam non dicta repellat, nesciunt neque!</p>
                    </div>

                </section>



                <h1 class="masArticulos">También te puede interesar...</h1>
                <hr id="linea-refleja-tu-estilo">

                <section class="articulosInteres" class="padding-articulos">
                    <article>
                        <img src="/img/products/MESA-NEOLITH-BETON.jpg"
                            alt="mesa neolith beton">
                        <h2>Mesa Neolith Beton + Base Hierro</h2>
                        <p>2,40mx1,10m</p>
                        <p>$900.000</p>
                        <i class="fas fa-eye"></i>
                    </article>
                    <article>
                        <img src="/img/products/COMBO-SILLAS-DELUXE.JPG" alt="mesa neolith beton">
                        <h2>Sillas Deluxe</h2>
                        <p>x6 Unidades</p>
                        <p>$90,000</p>
                        <i class="fas fa-eye"></i>
                    </article>
                    <article>
                        <img src="/img/products/SILLA-MATERA-NEGRA.jpg" alt="mesa neolith beton">
                        <h2>Silla Matera Negra</h2>
                        <p>$45,000</p>
                        <i class="fas fa-eye"></i>
                    </article>
                    <article>
                        <img src="/img/products/MESA-NEOLITH-NERO.jpg"
                            alt="mesa neolith beton">
                        <h2>Mesa Neolith Nero + Base Madera ¨Cuadros¨</h2>
                        <p>2,50mx1,120m</p>
                        <p>$975.000</p>
                        <i class="fas fa-eye"></i>
                    </article>
                    <article>
                        <img src="/img/products/espejo.jpeg" alt="mesa neolith beton">
                        <h2>Mesa Neolith Nero + Base Madera ¨Cuadros¨</h2>
                        <p>2,50mx1,120m</p>
                        <p>$975.000</p>
                        <i class="fas fa-eye"></i>
                    </article>
                    <article>
                        <img src="/img/products/taza.jpeg" alt="mesa neolith beton">
                        <h2>Mesa Neolith Nero + Base Madera ¨Cuadros¨</h2>
                        <p>2,50mx1,120m</p>
                        <p>$975.000</p>
                        <i class="fas fa-eye"></i>
                    </article>
                </section>
            </main>

            <!-- footer -->

            <%- include('../partials/footer') %>

    </body>