
<!-- head -->

<%- include ('../partials/head', {tituloWeb:'Product Edition | Suquia Home',css: 'productEdition.css'}); %>



<body>

<!-- header -->

    <%- include('../partials/header') %>    

    <main>
        <div>
            <h2>EDITANDO PRODUCTO: <%= pedidoProducto.nombre %> </h2>
            <form class="form" action="/product/productEdition/<%= pedidoProducto.id %>?_method=PATCH" method="POST" enctype="multipart/form-data">
                <label for="nombre">Nombre del Producto</label>
                <input type="text" name="nombre" placeholder="Nombre" 
                value="<%= pedidoProducto.nombre %>" title="Inserte nombre del producto" required >

               <label for="categoria">Seleccione la categoria del producto</label>
                <select name="categoria" id="categoria" class="categoria" placeholder="Categoría">
                    <option value="Categoría">Categoría</option>
                    <option value="1">Interior</option>
                    <option value="2">Exterior</option>
                    <option value="3">Bazar</option>
                    <option value="4">Sillas</option>
                    <option value="5">Mesas</option>
                </select>

                
                <div class="imagen-producto">
                <label>Ingrese una imagen del producto</label>
                <input type="file" name="imagen" id="imagen" placeholder="Añadir imagen del producto" title="Agregar imagen del producto" required>
                </div>
                <label for="descripcion">Descripcion</label>
                <input type="text" name="descripcion" placeholder="Descipción" value="<%= pedidoProducto.descripcion %>"  title="Inserte una descripcion" required>
                <label for="color">Seleccione el color del producto</label>
                <select name="colores" id="color" class="color" placeholder="Color">
                    <option value="Colores">Colores </option>
                    <option value="1">Negro</option>
                    <option value="2">Blanco</option>
                    <option value="3">Marron</option>
                    <option value="4">Azul</option>
                    <option value="5">Rojo</option>
                </select>
                <label for="precio">Precio</label>
                <input type="text" name="precio" placeholder="Precio" value="<%= pedidoProducto.precio %>" title="Inserte precio" required>
                <label for="descuento">Descuento</label>
                <input type="number" name="descuento" placeholder="Descuento" title="Inserte descuento" required>
                
                <a href="/product"></a><button type="submit">EDITAR PRODUCTO</button></a>
            </form>
        </div>
    </main>

<!-- footer -->

  <%- include('../partials/footer') %>

</body>

</html>