
<!-- head -->

<%- include ('../partials/head', {tituloWeb:'Pofile | Suquia Home',css: 'profile.css'}); %>


<body>

    <!-- header -->

   <%- include('../partials/header') %>


    <main>
        <div class="tarjetaPerfil"> 
            <h2>Perfil de : <%=user.nombre%> </h2>
            <h2>Email: <%=user.email%> </h2>
            <h2>Tipo de usuario: <%=user.categoria%></h2>
            <img src="/img/avatars/<%=user.imagen%>" alt="imagenPerfil">
           
        </div>
    </main>

<!-- footer -->

<%- include('../partials/footer') %>   

</body>
</html>