
<!-- head -->

<%- include ('../partials/head', {tituloWeb:'Pofile | Suquia Home',css: 'profile.css'}); %>


<body>

    <!-- header -->

   <%- include('../partials/header') %>


    <main>
        
        <h1 class="nombre">Hola  <%=user.nombre%> !</h1>

        <div class="tarjetaPerfil">  
            <h2>Nombre de usuario: <%=user.first_name%> </h2>
            <h2>Email: <%=user.email%> </h2>
            <h2>Categoria de usuario: <%=user.categoria_id%></h2>
            <div class="imagenPerfil">
                <img src="/img/avatars/<%=user.imagen%>" alt="imagenPerfil">
            </div>
         </div> 
         <div class="botones">
         <button class="editProfile"> <a href="/edit">EDIT</a></button>
         <button class="logout"> <a href="/user/logout">LOGOUT</a></button>
         <button class="logout"> <a href="/user/edit/<%=user.id%>">EDITAR</a></button>
    </main>

<!-- footer -->

<%- include('../partials/footer') %>   

</body>
</html>