

<!-- head -->

<%- include ('../partials/head', {tituloWeb:'Registro | Suquia Home',css: 'register.css'}); %>



<body>

<!-- header -->

    <%- include('../partials/header') %>    

    <main>
        <div>
            <h2>CREA UNA CUENTA</h2>
            <form class="form" action="/user/register" method="POST" enctype="multipart/form-data" >
                <input type="text" name="nombre" placeholder="Nombre" title="Inserte su nombre" value="<%= locals.oldData ? oldData.nombre : null  %>">
                <% if (locals.errors && errors.nombre) { %>
                    <p class="text-danger"><%= errors.nombre.msg  %></p>
                <% } %> 
                <input type="text" name="apellido" placeholder="Apellido" title="Inserte su apellido" value="<%= locals.oldData ? oldData.apellido : null  %>">
                <% if (locals.errors && errors.apellido) { %>
                    <p class="text-danger"><%= errors.apellido.msg  %></p>
                <% } %>
                <input type="email" name="email" placeholder="Correo electrónico" title="Inserte su e-mail" value="<%= locals.oldData ? oldData.email : null  %>">
                <% if (locals.errors && errors.email) { %>
                    <p class="text-danger"><%= errors.email.msg  %></p>
                <% } %>
                <input type="tel" name="telefono" placeholder="Teléfono +549()" title="Indique su número de teléfono" value="<%= locals.oldData ? oldData.email : null  %>">
                <% if (locals.errors && errors.telefono) { %>
                    <p class="text-danger"><%= errors.telefono.msg  %></p>
                <% } %>
                <div class="categoria">
                    <Label>Seleccione una categoria</Label> 

                        <select name="categoria" id="categoria">
                            <option value="1">Administrador</option>
                            <option value="2">Usuario</option>
                        </select>
                        
                </div>  

                <input type="password" name="contrasena" placeholder="Contraseña (8 a 20 caracteres)" title="Inserte lo que va a ser su próxima contraseña" minlength="8"
                    maxlength="20" >
                <input type="password" name="confirmarContrasena" placeholder="Confirmar Contraseña" title="Debe ser igual a la contraseña anterior">
                <input type="file" name="fotoPerfil" id="fotoPerfil" placeholder="Foto de Perfil" tittle="Añada una foto de perfil si desea">
                <% if (locals.errors && errors.fotoPerfil) { %>
                 <p class="text-danger"><%= errors.fotoPerfil.msg%></p>
                <% } %>    
                <button type="submit">CREAR CUENTA</button>
            </form>
        </div>
    </main>

<!-- footer -->

  <%- include('../partials/footer') %>

</body>

</html>